html,
body,
#root {
  margin: 0;
  height: 100%;
}

.App {
  height: 100%;
  --path-height: 30px;
}

.Path {
  background-color: #222;
  border: 1px solid #eee;
  color: #eee;
  margin: 0;
  width: 100vw;
  height: var(--path-height);
  outline: none;
  display: block;
}

.Path--valid {
  border-color: green;
}

.Path--invalid {
  border-color: red;
}

.Content {
  background-color: #222;
  border: 0;
  resize: none;
  width: 100vw;
  height: calc(100vh - var(--path-height));
  font-family: gammadic;
  outline: none;
  font-size: 15px;
  word-spacing: 20px;
  color: white;
}

@font-face {
  font-family: gammadic;
  src: url(gammadic.ttf);
}
